{% extends 'layouts/layout.html' %}

{% block title %}{{title}}{% endblock  %}

{% block content %}
{% load static %}


<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Entradas</h3>
      <p>Últimas entradas del blog</p>
    </div>
    <ul class="nospace group">
      
      {% include 'articles/article.html' %}

      {% include 'articles/pagination.html' %}
      
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>


{% endblock  %}