{% extends 'layouts/layout.html' %}

{% block title %}{{title}}{% endblock  %}

{% block content %}

{% load static %}


{% comment %}
<div class="bgded overlay" style="background-image:url('{% static 'images/fondo.jpg' %}');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        
        {% for category in categories %}
          <li>
          <article>
            <h3 class="heading">{{category.1}}</h3>
            <p>{{category.2}}</p>
            <footer><a class="btn" href="{% url 'category' category.0 %}">Ver más</a></footer>
          </article>
        </li>
        {% endfor %}
        <!--<li>
          <article>
            <p>Pulvinar</p>
            <h3 class="heading">Ornare tortor quisque</h3>
            <p>Odio semper sed euismod mi euismod curabitur</p>
            <footer><a class="btn inverse" href="#">Eget venenatis</a></footer>
          </article>
        </li>
        <li>
          <article>
            <p>Sagittis</p>
            <h3 class="heading">Feugiat blandit erat</h3>
            <p>Convallis nibh nulla nec dictum mi consequat vel</p>
            <footer><a class="btn" href="#">Facilisis vestibulum</a></footer>
          </article>
        </li>-->
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">¿Qué es Django?</h3>
      <p>Descripción sobre el FrameWork Django</p>
    </div>
    <p class="btmspace-50 justified">Django es un framework web de alto nivel que permite el desarrollo rápido de sitios web seguros y mantenibles. Desarrollado por programadores experimentados, Django se encarga de gran parte de las complicaciones del desarrollo web, por lo que puedes concentrarte en escribir tu aplicación sin necesidad de reinventar la rueda. Es gratuito y de código abierto, tiene una comunidad próspera y activa, una gran documentación y muchas opciones de soporte gratuito y de pago.</p>
    <!--<ul class="nospace group center">
      <li class="one_quarter first">
        <article><a href="#"><i class="icon btmspace-30 fa fa-500px"></i></a>
          <h6 class="heading">Varius eros ac</h6>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-adjust"></i></a>
          <h6 class="heading">Augue praesent</h6>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-amazon"></i></a>
          <h6 class="heading">Bibendum pulvinar</h6>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-apple"></i></a>
          <h6 class="heading">Dignissim aliquam</h6>
        </article>
      </li>
    </ul>-->
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('{% static 'images/fondo.jpg' %}');">
  <article class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">
      <h6 class="nospace">Documentación</h6>
      <p class="nospace">Django cuenta con una amplia documentación </p>
    </div>
    <footer class="one_quarter"><a class="btn" href="https://docs.djangoproject.com/es/3.1/" target="_blank">Ir a documentación &raquo;</a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay light" style="background-image:url('images/fondo.jpg');">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Categorias</h3>
      <p>Categorias del blog</p>
    </div>
    <ul class="nospace group services">
      
      {% for category in categories %}
      <li class="one_third">
        <article><a href="{% url 'category' category.0 %}"><i class="icon fa fa-code"></i></a>
          <h6 class="heading">{{category.1}}</h6>
          <p>{{category.2}}</p>
          <footer><a href="{% url 'category' category.0 %}">Ver más &raquo;</a></footer>
        </article>
      </li>
      {% endfor %}

      
      
    </ul>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!--<div class="wrapper row3">
  <article class="hoc container clear"> 
     <div class="sectiontitle">
      <h3 class="heading">Aliquam et nulla ac magna</h3>
      <p>Etiam euismod neque sapien eget suscipit justo pharetra id.</p>
    </div>
    <figure>
      <ul class="nospace group logos">
        <li class="one_quarter first"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="images/demo/222x100.png" alt=""></a></li>
      </ul>
    </figure>
    </article>
</div>-->
<!-- ################################################################################################ -->

<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Entradas</h3>
      <p>Últimas entradas del blog</p>
    </div>
    <ul class="nospace group">
      <li class="one_third first">
        <article class="excerpt"><a href="#"><img class="inspace-10 borderedbox" src="{% static 'images/demo/320x220.png' %}" alt=""></a>
          <div class="excerpttxt">
            <ul>
              <li><i class="fa fa-calendar-o"></i> 06/01/45</li>
              <li><i class="fa fa-comments"></i> <a href="#">4</a></li>
            </ul>
            <h6 class="heading font-x1">At molestie morbi fringilla a leo sed auctor&hellip;</h6>
            <p><a class="btn" href="#">Read More &raquo;</a></p>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article class="excerpt"><a href="#"><img class="inspace-10 borderedbox" src="images/demo/320x220.png" alt=""></a>
          <div class="excerpttxt">
            <ul>
              <li><i class="fa fa-calendar-o"></i> 05/01/45</li>
              <li><i class="fa fa-comments"></i> <a href="#">4</a></li>
            </ul>
            <h6 class="heading font-x1">Curabitur malesuada eros turpis quis libero non&hellip;</h6>
            <p><a class="btn" href="#">Read More &raquo;</a></p>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article class="excerpt"><a href="#"><img class="inspace-10 borderedbox" src="images/demo/320x220.png" alt=""></a>
          <div class="excerpttxt">
            <ul>
              <li><i class="fa fa-calendar-o"></i> 04/01/45</li>
              <li><i class="fa fa-comments"></i> <a href="#">4</a></li>
            </ul>
            <h6 class="heading font-x1">Scelerisque hendrerit velit sed non elit lorem&hellip;</h6>
            <p><a class="btn" href="#">Read More &raquo;</a></p>
          </div>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('{% static 'images/fondo.jpg' %}');">
  <article class="hoc container"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Frases</h3>
      <p>Algunas frases de grandes programadores</p>
    </div>
    <ul class="nospace group">
      <li class="one_half first borderedbox inspace-15">
        <blockquote>La educación en computación no puede hacer a nadie un experto programador más que el estudio de pinceles y pigmentos puede hacer a alguien un pintor experto.</blockquote>
        <p class="right bold">Eric S. Raymond</p>
      </li>
      <li class="one_half borderedbox inspace-15">
        <blockquote>Las ideas tienen que ir tomando forma. Se van haciendo realidad al trabajar en ellas. Solo hay que ponerse en marcha.</blockquote>
        <p class="right bold">Mark Zuckerberg</p>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->


  
{% endcomment %}


        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">

                            {% if messages %}
                              {% for message in messages %}
                        
                                  <span class="mensaje-exitoso">{{message}}</span>
                              
                              {% endfor %}
                            {% endif %}
                              
                            <br>
                            <div class="newsletter-widget text-center">
                                <form class="form-inline" method="buscar">
                                    <input type="text" name="buscar" class="form-control" placeholder="Buscar....">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </form>
                            </div><!-- end newsletter -->
                            <br>
                            

                                {% include 'articles/article.html' %}

                                {% include 'articles/pagination.html' %}
 
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section>



{% endblock  %}

